/* ALL */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/* BODY */
body {
	font-family: sans-serif;
	/* min-height: 100vh; */
}

/* NAV */
.nav-container {
	padding: 1rem;
	position: absolute;
	top: 0;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	/* background-color: tomato; */
}

.nav-link-container {
	display: flex;
	justify-content: space-around;
	align-items: center;
	margin: 0rem 5rem;
}

.nav-container h2 {
	color: white;
}
.nav-container a {
	display: block;
	margin: 0rem 2rem;
	color: white;
	font-weight: bolder;
	text-decoration: none;
}

.nav-container a:hover {
	text-decoration: underline;
}

.nav-button {
	font-size: 1rem;
	padding: 0.7rem;
	border: none;
	box-shadow: 0px 5px 15px rgba(75, 11, 20, 0.5);
	border-radius: 30px;
	cursor: pointer;
	font-weight: bold;
	color: white;
	background-color: #fb5a51;
}

/* PAGE CONTAINERS */
.home-container {
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #cc61f2;
}

.home-sub-container {
	height: 100vh;
	width: 50vw;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.start-container {
	height: 100vh;
	display: flex;
	/* align-items: center; */
	justify-content: center;
}

.start-sub-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 50vw;
	padding: 2rem;
}

.start-sub-container h1 {
	color: #cc61f2;
	font-size: 3.5rem;
	text-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
}

.input-container {
	display: flex;
	justify-content: center;
	align-items: center;
	border: whitesmoke;
}

.start-sub-container input {
	height: 3.5rem;
	width: 50%;
	margin: 3rem;
	border: none;
	font-size: 2rem;
	color: whitesmoke;
	background-color: #cc61f2;
	border-radius: 30px;
	text-align: center;
}

.start-sub-container input:focus {
	outline: none;
}

::placeholder {
	color: whitesmoke;
}

.how-to-container {
	height: 100vh;
	background-color: #cc61f2;
}

.about-container {
	height: 100vh;
}

/* TITLE */
.title {
	font-size: 5rem;
	font-weight: 900;
	color: whitesmoke;
	text-shadow: 0px 5px 20px rgba(75, 11, 20, 0.4);
}

/* DESCRIPTION */
.description {
	margin: 4rem 0rem;
	font-size: 1.7rem;
	text-align: center;
	font-weight: 900;
	color: whitesmoke;
}

/* MAIN BUTTON */
.main-button {
	padding: 1.5rem 5rem;
	border: none;
	box-shadow: 0px 5px 15px rgba(75, 11, 20, 0.5);
	border-radius: 30px;
	cursor: pointer;
	font-weight: bold;
	font-size: 1.5rem;
	color: white;
	background-color: #fb5a51;
}

/* ICON */
/* .material-icons {
	font-size: 4rem;
	color: white;
	text-shadow: 0px 5px 5px rgba(75, 11, 20, 0.2);
} */

/* SVG AND ANIMATIONS */
#right-note,
#left-note {
	animation: up 2s infinite;
	animation-direction: alternate;
}

#left-note {
	animation-delay: 0.5s;
}

@keyframes up {
	from {
		transform: translateY(0px);
	}
	to {
		transform: translateY(-30px);
	}
}

/* MEDIA QUERIES */
@media (max-width: 1000px) {
	.container-img {
		display: none;
	}
	.description {
		font-weight: 700;
		font-size: 1.5rem;
	}
	.title {
		font-size: 3.75rem;
	}
}
